:root {
  --macaroni-and-cheese: #f8c592ff;
  --liver-organ: #75372dff;
  --amazon: #598063ff;
  --brown-sugar: #ac7455ff;
}
@font-face {
  font-family: "Benson";
  src: url("../fonts/benson.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------HEADER------------------------------------------------------------------------------------------------------------------------*/
header {
  background-color: var(--macaroni-and-cheese);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 0 20px;
  border-bottom: 2px solid var(--liver-organ);
}
hr {
  width: 80%;
  height: 1px;
  background-color: var(--liver-organ);
}

/* LOGO */
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  width: 110px;
}

/* ANCHORDS NAV */
.navItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px;
}
.navMenuLink {
  color: var(--liver-organ);
  text-decoration: none;
  padding: 8px;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.navMenuLink:hover {
  background-color: var(--liver-organ);
  border-radius: 12px;
  color: var(--macaroni-and-cheese);
}

/* HAMBURGUER NAV BUTTON */
.navToggle {
  display: none;
}
.navHamburger {
  width: 26px;
  height: 26px;
}

/* DROPDOWN BUTTON */
#dropdownButton {
  background-color: var(--macaroni-and-cheese);
  padding: 8px;
  font-size: 22px;
  font-weight: 500;
  color: var(--liver-organ);
  border-radius: 12px;
  border: 2px solid var(--liver-organ);
}
#dropdownButton:active {
  background-color: var(--liver-organ);
  color: var(--macaroni-and-cheese);
}
#dropdownButton:focus {
  box-shadow: none;
}
#dropdownMenu {
  background-color: var(--macaroni-and-cheese);
  border: 2px solid var(--liver-organ);
  padding: 4px;
}
#dropdownLink {
  color: var(--liver-organ);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
#dropdownLink:hover {
  background-color: var(--liver-organ);
  border-radius: 12px;
  padding: 8px;
  color: var(--macaroni-and-cheese);
}
#dropdownLink2 {
  color: var(--liver-organ);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
#dropdownLink2:hover {
  background-color: var(--liver-organ);
  border-radius: 12px;
  padding: 8px;
  color: var(--macaroni-and-cheese);
}

/*-------MAIN---------------------------------------------------------------------------------------------------------------------------*/
main {
  min-height: 75vh;
  width: 100%;
  background-color: var(--macaroni-and-cheese);
}
p {
  margin: 0 !important;
}
.mainTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 60px 0;
}
.mainTextContainer > h2 {
  font-size: 70px;
  font-weight: 500;
  color: var(--liver-organ);
  font-family: "Benson";
  text-shadow: 2px 2px 2px var(--amazon);
}
.mainTextContainer > p {
  font-size: 22px;
  font-weight: 500;
  color: var(--liver-organ);
  margin-bottom: 20px;
}

/*-------GALERIA-----------------------------------------------------------------------------------------------------------------------*/
.galeryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.galeryContainer > h3 {
  font-size: 50px;
  font-weight: 500;
  color: var(--liver-organ);
  margin-bottom: 20px;
  font-family: "Benson";
  text-shadow: 2px 2px 2px var(--amazon);
}
.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;

  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}
.container-img .box-img figure {
  width: 100%;
  height: 100%;
}
.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}
.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}
.figure {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.imgGalery {
  transition: all 0.5s ease-out;
  will-change: transform;
}
.capa {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(117, 55, 45, 0.6);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.capa > h3 {
  color: #fff;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}
.figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.figure:hover > .capa h3 {
  margin-top: 90px;
}
.figure:hover > .capa .longh3 {
  margin-top: 190px;
}
.figure:hover > .imgGalery {
  transform: scale(1.3);
}

/*-------CONTACTO----------------------------------------------------------------------------------------------------------------------*/
.mainContacto {
  background-color: #f8c592ff;
}

form {
  background-color: rgba(0, 0, 0, 0.315);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 600px;
}
.form-size {
  height: 10rem;
}
.p-logo-footer {
  font-family: "Russo One", sans-serif;
}
.textContact {
  background-color: rgba(0, 0, 0, 0.315);
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 600px;
}
.infoContact {
  display: flex;
  flex-direction: column;
}

/*-------BANNER------------------------------------------------------------------------------------------------------------------------*/
article {
  min-height: 10vh;
  background-color: #dfdfdf;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container > img.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
article h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.img-blocks {
  margin-top: 15px;
  height: 120px;
  width: auto;
  justify-content: center;
}
.p-banner {
  font-size: x-large;
  font-weight: bold;
}
/* CSS TEXTO BANNER SHOP INDEX */
.banner-shop {
  background-color: #598063ff;
}
.p-shop {
  font-size: x-large;
  font-weight: bold;
  color: white;
}

/* CSS BUTTON SHOP INDEX */
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/* CUPON  */

.cuponContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #f8c592ff;
}

.cuponText {
  color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cuponText > span {
  border: 2px solid black;
  border-radius: 360px;
  background-color: #ac7455ff;
  padding: 5px;
  color: black;
}

.cuponButton {
  color: white;
  background-color: rgb(65, 65, 252);
  padding: 5px;
}

/* pet shop */
.imgTamaño {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.ultimas {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #598063ff;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.btn-buy:active {
  border: 2px solid #f8c592ff;
}
.btn-buy {
  background-color: #75372dff;
  color: #f8c592ff;
  margin-top: 0.5rem;
}
.btn-buy:hover {
  background-color: #75372dff;
}
.card2 {
  background-color: #ac7455ff;
  border-radius: 8px;
  border: 2px solid #598063ff;
  color: #f8c592ff;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.cajaShop {
  display: flex;
  flex-direction: row;
}

.cajaCards {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cajaCheck {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 4px solid #598063ff;
  color: #75372dff;
}
.container {
  width: 80%;
}
.check1 {
  height: 40%;
  padding-top: 2rem;
}
.check2 {
  height: 60%;
  padding-top: 2rem;
}
.inputCheck:checked {
  background-color: #598063ff;
  border: 1px solid #75372dff;
}
.inputCheck {
  border: 1px solid #75372dff;
}
/*PETSHOP DESDE EL JS DE ELVIO*/
.card {
  display: flex;
}

.carrito-html {
  position: absolute;
  top: 82px;
  right: 20px;
  background-color: rgb(246, 206, 94);
  /* background-color: white; */
  min-width: 300px;
  text-align: center;
  z-index: 1;
  border: 2px solid black;
  /* display: none; */
}

.close {
  background-color: red;
  /* border-radius: 50%; */
  text-align: center;
  padding: 1px 5px;
  /* border-radius: 50%; */
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
  border: 1px solid black;
}

.ocultar {
  display: none;
}
.carta-carrito-top {
  border-bottom: 4px solid orangered;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.imgCarrito {
  width: 60px;
  height: 60px;
}

.imagen {
  height: 300px;
}

.cartas {
  display: flex;
  flex-wrap: wrap;
}

/*-------FOOTER------------------------------------------------------------------------------------------------------------------------*/
/* #logoLetra{
  height: 30rem;
  width: 30rem;
  background-color: #75372Dff;
} */
.footer {
  /* position: absolute; */
  bottom: 0px;
  width: 100%;
  background-color: var(--liver-organ);
  color: var(--macaroni-and-cheese);
}
.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.footerSection1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerLogo {
  height: 230px;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  color: var(--macaroni-and-cheese);
}
.box > p {
  color: var(--macaroni-and-cheese);
  font-size: 20px;
}
p > a {
  text-decoration: none;
  font-size: 20px;
  color: var(--macaroni-and-cheese);
  gap: 5px;
}
p > a:hover {
  color: var(--liver-organ);
  background-color: var(--macaroni-and-cheese);
  padding: 5px 0;
  border-radius: 10px;
}
.footerIconContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 0;
}
.footerIcon {
  height: 50px;
  width: 50px;
}
.grupo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #75372dff;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  background-color: goldenrod;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: yellow;
}
.logoDog {
  height: 45px;
  width: 45px;
}

/* Diseño Search */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f8c592ff;
  padding: 10px;
}

.flex-container div {
  background-color: #f8c592ff;
  width: 250px;
  text-align: center;
}
.info-comprar {
  margin-top: 10px;
}
.titulo-banner {
  margin-top: 5px;
  width: 100%;
}
@media (max-width: 768px) {
  /* NAVBAR*/
  .navContainer {
    width: 90%;
    padding: 0;
  }
  .navItemContainer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--macaroni-and-cheese);
    position: fixed;
    top: 120px;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    transition: left 0.3s;
    padding: 0 0px;
    z-index: 3;
  }
  .navToggle {
    display: block;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 5px 20px;
    line-height: 20px;
  }
  .navMenuVisible {
    left: 0;
  }
  .pageContainer {
    padding: 0 10px;
  }
  /* MAIN*/
  .mainTextContainer {
    padding: 60px 20px;
  }
  .mainTextContainer > h2 {
    font-size: 60px;
    padding: 20px 0;
  }

  /* GALERIA*/
  .galeryContainer > h3 {
    font-size: 35px;
    margin-bottom: 20px;
    padding: 0 40px;
  }
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }

  /* BANNER*/
  article {
    flex-direction: column;
  }

  /* FOOTER */
  #myBtn {
    display: none !important;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    background-color: goldenrod;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
  }
  .logoDog {
    height: 45px;
    width: 45px;
    display: none;
  }
  #logoLetra {
    display: none;
  }
  .footerSection1 {
    flex-wrap: wrap;
  }
  .box {
    padding: 12px 0;
  }
  .box1 {
    display: none;
  }
  .size-mapa {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .map-big {
    display: none;
  }
  .mainTextContainer {
    padding: 20px 20px;
    text-align: center;
  }
}

@media (min-width: 769px) {
  .map-table {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  /* GALERIA*/
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img {
    height: 200px;
  }
  .textContact {
    width: 400px;
  }
}
